a:link {
     text-decoration: none; 
     color: black;
    }


a:visited { 
    text-decoration: none;
 }

 footer {
  margin-top: auto;
 }


.img-resize {
    margin-top: 30px;
    width: 100%;
    height: 250px;
    border: 2px solid black;
}



 
